/* Home.css */
.home-container {
  display: flex;
  justify-content: flex-end;
  max-width: 600px;
  margin: 0 auto;
  padding: 3%;
  /* text-align: center; */
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
}

ul {
  padding: 5px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 15px;
}

.cart-container {
  margin-left: auto;
  cursor: pointer;  
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
}
.cart-container img {
  width: 30px;
  height: 30px;
}
.cart-count {
  margin-top: 15px;
  margin-left: -5px;
  background-color: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  align-items: center;
}