.empty-order-massege{
  font-size: 2rem;
}
.orders-container {
  margin: 10px;
  align-items: center;
  /* min-width: 1000px; */
}



.orders-ul-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orders-ul-container {
  margin: 0;
  padding: 0;
}
.orders-container button{
  max-width: 90px;
}

.order-list {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  justify-content: space-around;
  margin: 3px;
  border-bottom: 1px solid black;
}

.orders-number {
  margin-right: 5px;
  text-align: center;
}
.orders-number p {
  font-size: 0.7rem;
  margin-right: 5px;
}

.orders-total-price {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 5px;
}

.h2-orders-container h2{
  /* color: white;  */
  padding: 10px; 
  margin-top: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgb(163, 163, 163);
}
.paid-orders-container {
  /* background-color: black; */
  border-radius: 15px;
}
.paid-orders-ul-container {
  padding: 0;
}
.paid-orders-total-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.paid-orders-total-price p{
  font-size: 1.5rem;
  margin-right: 10px;
}

@media (min-width: 1180px) {
  .orders-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .orders-black-line {
    background-color: black;
    width: 3px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .paid-orders-container {
    width: 100%;
  }
  .unpaid-orders-container {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .order-list {
    min-height: 100px;
  }
  .paid-orders-total-price p{
    font-size: 1.1rem;
    margin-right: 10px;
  }
  .paid-orders-total-price {
    align-items: center;
    justify-content: center;
  }
  .orders-container h3{
    font-size: 1rem;
  }
  .orders-container button{
    margin: 0;
  }
}