.order-created-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: center;
  margin-top: 2rem;
}
.order-created-container  h2{
  padding: 10px;
}

.order-created-container  a{
  padding: 10px;
}

.order-created {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(7, 7, 7);
  color: white;
}
