.order-items {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

.container-order-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  border-bottom: 2px solid black;
  
}

.cart-order-items {
  width: 200px;
  margin-right: 13%;
}
.cart-order-items img{
  width: 200px;
}

.container-order-items-discription {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.container-order-items-discription a{
  width: 100%;
}
.container-order-items-discription p{
  font-size: 1.3rem;
  margin-bottom: 10px;
}