li {
  display: flex; /* Встановлюємо елементи в один рядок */
  flex-direction: column; /* Встановлюємо напрямок колонки */
  border: 1px solid #ccc; /* Додаємо рамку */
  border-radius: 5px; /* Закруглюємо кути */
  padding: 5px; /* Додаємо відступи */
  margin: 10px; /* Додаємо зовнішні відступи */
  width: 200px; /* Задаємо ширину карточки */
}

li a {
  text-align: center;
  text-decoration: none; /* Видаляємо підкреслення з посилань */
  color: #0b15d2; /* Колір тексту посилань */
}

li p {
  margin: 5px 0; /* Додаємо зовнішні відступи для параграфів */
}

.container {
  display: flex; /* Встановлюємо елементи в один рядок */
  flex-wrap: wrap;
  padding-left: 5%;
  margin: 0 auto;
}