
/* .categories-container{
  display: flex;
  flex-direction: column; */
  /* position: absolute; */
  /* top: 90px */
/* } */
/* .main-container {
  display: flex;
  height: 80vh;
  margin: 0 auto;
  justify-content: center; */
  /* max-width: 1000px; */
  /* min-width: 375px;
  background-color: rgb(232, 240, 239);
  flex: 1;  */
  /* margin-left: 0;*/
/* } */
/* .loyout {
  display: flex;
  flex-direction: column;
  background-color: rgb(154, 154, 154);
  justify-content: space-between;
  margin: 0 auto;  
  min-height: 100vh; 
  text-align: center;
} */

.welcome-comtainer {
  margin: 0 8px auto;
  display: flex;
  flex-direction: column;
  /* padding: 0 15px; */
}
.welcome-comtainer h1{
  color: #00aca3;
}
.welcome-comtainer p{
  font-size: 1.3rem;
  margin-top: 4%;
}
.welcome-comtainer h3{
  font-size: 1.5rem;
  margin-top: 10%;
}
.welcome-comtainer span{
  font-weight: 800;
}
/* ------------------------------------ */
.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main-container {
  display: grid;
  /* margin: 0 auto; */
  /* max-width: 1450px; */
  grid-template-columns: 200px 3fr;
  overflow: hidden;
  text-align: center;
}

/* ------------------------------------ */

.children-container {
  overflow-y: auto;
  scrollbar-width: none;
  /* min-width: 1000px; */
}

/* ------------------------------------ */

.categories-container {
  overflow-y: auto;
  /* background-color: #00aca3; */
  display: flex;
  flex-direction: column;
  scrollbar-width: none; 
  margin-top: 5px;  
  border-right: 2px solid black;
}
/* .categories-container a {
  margin-bottom: 15px;
} */
.categories-container h3 {
  margin-bottom: 10px;
}
.categories-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 25px;
  align-items: center;
}
.categories-img-container {  
  width: 45px;
}
.categories-link-container p{  
  margin: 10px;
}


/* ------------------------------------ */

.layout a:visited {
  color: inherit; /* Застосувати колір, визначений для батьківського елементу */
  text-decoration: none; /* Забрати підкреслення */  
}
.layout a {  
  text-decoration: none; /* Забрати підкреслення */ 
  color: inherit; /* Застосувати колір, визначений для батьківського елементу */

}
.layout a:link {  
  color: inherit;  /* Забрати підкреслення */ 
}
.layout a:hover {
  color: rgb(8, 188, 155);
}



h2 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;  
}
h3 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0; 
}
button {
  font-family: "Madimi One", sans-serif;
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
}
button {
  background-color: #00aca3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #01514d;
}
input, select {
  font-family: "Madimi One", sans-serif;
}

/* Footer */
.footer-conteiner {
  color: white;
  background-color: black;
  padding: 10px;
  border-top: 2px  solid white;
  /* align-items: center; */
  text-align: center;
}

.button-back {
  padding: 0;
  height: 31px;
  background-color: white;
}
.button-back img{
  height: 30px;
  width: 30px;
}

/* Header */
.header-container {
  position: sticky;
  top: 0px;
  z-index: 5;
  /* left: 0px;
  top: 0px; */
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 65px; 
  justify-content: space-around;  
  background-color: black;
  color: aliceblue;
  border-bottom: 2px  solid white;
}
.header-person-icon-container {
  display: none;
}
.header-emblem {
  font-size: 1.5rem;
  margin: 0;  
  color: aqua;  
}
.header-emblem a {
  text-shadow: -1px 0px 8px  rgba(253, 253, 253, 0.647);
}
.header-customer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 15px;
}
.welcome-customer p{
  margin: 0;
}
.cart-image-container {
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  margin-left: auto;
  cursor: pointer;  
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
}
.cart-image-container img {
  width: 30px;
  height: 30px;
}
.cart-count {
  margin-top: 15px;
  margin-left: -5px;
  background-color: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  align-items: center;
}

/* Products */
.products-container li {
  display: flex; /* Встановлюємо елементи в один рядок */
  background-color: white;
  flex-direction: column; /* Встановлюємо напрямок колонки */
  border: 2px solid #717171; /* Додаємо рамку */
  border-radius: 15px; /* Закруглюємо кути */
  padding: 5px; /* Додаємо відступи */
  margin: 10px; /* Додаємо зовнішні відступи */
  width: 300px; /* Задаємо ширину карточки */
}
.products-container li a {
  text-align: center;
  text-decoration: none; /* Видаляємо підкреслення з посилань */
  /* color: #0b15d2; Колір тексту посилань */
}
.products-container li p {
  margin: 5px 0; /* Додаємо зовнішні відступи для параграфів */
}
.products-container img {
  object-fit: contain;  /* none, fill, contain */
  max-height: 350px;
}

.products-container {
  display: flex; /* Встановлюємо елементи в один рядок */
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}
.products-name {
  font-weight: 600;
}

.products-price {
  color: rgb(0, 170, 196);
}

.products-container a{
  font-weight: 700;
}

/* Checkout Summary */
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-container p{
  font-size: 1.5rem;
  font-weight: 600;
}

/* success */
.success-container{
  text-align: center;
  padding: 20px;
}
/* canceled */
.canceled-container {
  text-align: center;
  padding: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content a{
  color: black;
  position: relative;
  display: inline-block;
}

.dropdown-button {
  /* background-color: #4CAF50; */
  /* color: white; */
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #32f8ee98;
}
.dropdown-content span {
  color: black;

}
.dropdown {
  display: none;
}
/* @import url("media.css");  */

@media (min-width: 1200px) {  
  .children-container {
    /* min-width: 790px; */
  }
  .products-container li {    
    width: 350px; /* Задаємо ширину карточки */
  }
} 
@media (max-width: 1200px) {  
  .children-container {
    /* min-width: 670px; */
  }
}

@media (max-width: 870px) {
  .children-container {
    /* min-width: 570px; */
  }
  .main-container {
    grid-template-columns: 125px 3fr;
  }
  .categories-link-container {
    justify-content: left;
    margin-left: 5px;
    align-items: center;
  }
  .categories-img-container {  
    width: 30px;
  }
  .products-container li {    
    width: 280px; /* Задаємо ширину карточки */
  }
}
@media (max-width: 760px) {
  .children-container {
    /* min-width: 500px; */
  }
  .products-container li {    
    width: 250px; /* Задаємо ширину карточки */
    margin: 3px;
  }
}
@media (max-width: 660px) {
  .children-container {
    /* min-width: 400px; */
  }
  .products-container li {    
    width: 330px; /* Задаємо ширину карточки */
    margin: 5px;
  }
}
@media (max-width: 560px) {
  .children-container {
    /* min-width: 350px; */
  }
  .header-emblem, p{
    font-size: 1rem;
    margin: 3px;
  }
  .header-customer {
    padding: 0;
  }
  .welcome-customer {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .children-container {
    /* min-width: 300px; */
  }
  .header-container {
    /* min-width: 375px; */
  }
  .header-customer {
    margin-right: 5px;
  }
  .header-emblem, p{
    /* font-size: 0.8rem; */
    margin: 3px;
  }
  .botton {
    font-size: 0.6rem;
    margin: 0;
  }
  .products-container li {    
    width: 280px; /* Задаємо ширину карточки */
    margin: 5px;
  }
  
}

/* Для малих екранів */
@media (max-width: 460px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .header-customer button{
    /* margin: 5px; */
  }
  .header-person-icon-container {
    border-radius: 12px;
    margin: 0 5px;
    display:block;
  }
  .header-person-icon-container button{
    background-color: white;
    margin: 0;
    padding: 0;
  }
  .header-emblem {
    display: none;
  }
  .dropdown {
    display: block;
  }
  .categories-container {
    /* background-color: aqua; */
    order: 2; /* Зміщуємо Categories вниз */
    height: 65px;
    flex-direction: row;
    border-top: 2px solid black;
    border-right: none;
    justify-content: space-between;
  }
  .categories-container p{
    font-size: 1.3rem;
    display: none;
  }
  .categories-container h3{
    display: none;
  }
  .categories-account {
    display: none;
  }
  .categories-img-container {
    width: 75px;
  }
  .categories-container img{
    /* display: none; */
    width: 45px;
    height: 50px;
  }
  .products-container li {    
    width: 350px; /* Задаємо ширину карточки */
  }
  .categories-container a:active {
    background-color: rgba(0, 255, 255, 0.218);
  }
}