body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Madimi One", sans-serif;
  /* font-family: "VT323", monospace; */
  font-style: normal;
  letter-spacing: 1px;
}
/* body a {
  text-decoration: none;
  /* font-family: "VT323", monospace; */
  /* font-style:italic; */
  /* color: aqua; */
  /* text-shadow: 1px 1px 1px rgba(4, 192, 213, 0.583);
} */ 
/* body a:hover {
  text-decoration: none;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;    
}
