
/* @media (max-width: 870px) {
  .main-container {
    grid-template-columns: 100px 3fr;
  }
  .categories-container {
    max-width: 120px;
  }
  .categories-link-container {    
    margin-left: 5px;
  }
} */
